{% extends 'base.html' %}
{% load static %}
 
{% block title %}
Project detail 
{% endblock title %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'css/project.css' %}">
	<script type="module" src="https://md-block.verou.me/md-block.js"></script>
{% endblock extrahead %}

{% block content%}

	<section id="projrct-detail">
		{% include 'components/project_detail.html' %}
	</section>

	<section id="footer" class="footer-section">
		{% include 'components/footer.html' %}
	</section>

{% endblock content %}

{% block extra_js %}

{% endblock %}