<!-- templates/components/about.html -->
<div class="container">
	<div class="row row-cols-md-1 align-items-center">
		<h2 class="section-title">// ABOUT</h2>
		<div class="col-md-4 text-center">
			{% if user.about_picture %}
				<img src="{{ user.about_picture.url }}" class="img-fluid" alt="Profile picture">
			{% else %}
				<img src="https://avatar.iran.liara.run/public" class="img-fluid" alt="Default profile picture">
			{% endif %}
		</div>
		<div class="col-md-8">
			<div class="container px-5 ms-5 pt-5"> <!-- TODO: make padding adaptive -->
				<p class="description">
					{% if user.about %}
						{{ user.about }}
					{% else %}
						Please add an about section from the admin page.
					{% endif %}
				</p>
				<h3 class="skills-title">Skills</h3>
				{% for stack in stacks %}
					<span class="badge text-bg-secondary">{{ stack.name }}</span>
				{% endfor %}
			</div>
		</div>
	</div>
</div>