<!-- templates/components/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top px-5 py-3">
	<a class="navbar-brand" href="#">DEVELOPER // TI</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ms-auto">
			<li class="nav-item mx-3">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}#hero">HOME</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}#about">ABOUT</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}#projects">PROJECTS</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}#contact">CONTACT</a>
            </li>
		</ul>
	</div>
</nav>
