<div class="container mt-5 pt-5">
	<div class="row mt-4 ps-5 mt-3">
		<div class="col-md-6">

			<h1 class="text-center">
				{{ project.title }}
			</h1>

			<p>
				{{ project.description }}
			</p>

			
				<h4>Stack</h4>
				<p>
					{% for stack in project.stack.all %}
					<span class="badge text-bg-secondary">{{ stack.name }}</span>
					{% endfor %}
				</p>
				<a href="{{ project.link }}" target="_blank" class="btn btn-primary mt-3">GitHub Page</a>
		</div>
		<div class="col-md-6">
			<div id="carouselProjectImages" class="carousel slide" data-ride="carousel">

				<div class="carousel-inner">
					{% for image in project.images.all %}
					<div class="carousel-item {% if forloop.first %}active{% endif %}">
						<img src="{{ image.image.url }}" class="d-block w-100" alt="Project Image">
					</div>
					{% endfor %}
				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselProjectImages" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselProjectImages" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>

	<div class="row mt-4 px-5 pt-5">
		<div class="col-12 px-2">
			<md-block>
				{{ project.content }}
			</md-block>
		</div>
	</div>
</div>