<div class="container mt-5">
	<h1 class="text-center">{{ project.title }}</h1>
	<div class="row mt-4">
		<div class="col-md-8">
			<p>{{ project.description }}</p>

			<div id="carouselProjectImages" class="carousel slide" data-ride="carousel">

				<div class="carousel-inner">
					{% for image in project.images.all %}
					<div class="carousel-item {% if forloop.first %}active{% endif %}">
						<img src="{{ image.image.url }}" class="d-block w-100" alt="Project Image">
					</div>
					{% endfor %}
				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselProjectImages" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselProjectImages" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>

		<div class="col-md-4">
			<h3>Skills</h3>
			<p>
				{% for stack in project.stack.all %}
				<span class="badge text-bg-secondary">{{ stack.name }}</span>
				{% endfor %}
			</p>
			<a href="{{ project.link }}" class="btn btn-primary mt-3">GitHub Page</a>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12">
			<p>{{ project.content }}</p>
		</div>
	</div>
</div>