/* Global style settings */
html {
	scroll-behavior: smooth;
}

.container.base {
	background-color: #f8f9fa; /* Change this color to whatever you like */
}

.section-title {
	font-size: 24px;
	font-weight: bold;
	color: #ff007f;
	padding-top: 4rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
}

/* Navbar section */
.navbar-brand {
	font-family: 'Koulen', sans-serif;
	font-weight: bold;
	padding-left: 40px;
	padding-right: 60px;
}
