/* Global style settings */
html {
	scroll-behavior: smooth;
}

h2 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* Navbar section */
.navbar-brand {
	font-family: 'Koulen', sans-serif;
	font-weight: bold;
	padding-left: 40px;
	padding-right: 60px;
}
