@import url('variables.css');

/* .magicpattern { 
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: repeat;
	background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23e0e0e0%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%2334bb9a75%22 stroke-width=%22.6%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h133.333v133.333H0zM533.333 0h133.333v133.333H533.333zM933.333 0h133.333v133.333H933.333zM1066.667 0H1200v133.333h-133.333zM1200 0h133.333v133.333H1200zM1466.667 0H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a15%22 d=%22M1600 0h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1733.333 0h133.333v133.333h-133.333zM1866.667 0H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a26%22 d=%22M133.333 133.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 133.333h133.333v133.333H400zM933.333 133.333h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%2334bb9a63%22 d=%22M1066.667 133.333H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a30%22 d=%22M1200 133.333h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 133.333H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a2d%22 d=%22M1600 133.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 266.667h133.333V400H0zM133.333 266.667h133.333V400H133.333zM266.667 266.667H400V400H266.667zM400 266.667h133.333V400H400z%22%2F%3E%3Cpath fill=%22%2334bb9a28%22 d=%22M533.333 266.667h133.333V400H533.333z%22%2F%3E%3Cpath fill=%22%2334bb9a60%22 d=%22M933.333 266.667h133.333V400H933.333z%22%2F%3E%3Cpath fill=%22%2334bb9a50%22 d=%22M1066.667 266.667H1200V400h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 266.667h133.333V400H1200zM1466.667 266.667H1600V400h-133.333zM1600 266.667h133.333V400H1600zM1733.333 266.667h133.333V400h-133.333zM1866.667 266.667H2000V400h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a25%22 d=%22M0 400h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 400h133.333v133.333H133.333zM400 400h133.333v133.333H400zM666.667 400H800v133.333H666.667zM800 400h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22%2334bb9a20%22 d=%22M1600 400h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%2334bb9a3d%22 d=%22M1733.333 400h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a60%22 d=%22M1866.667 400H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 533.333h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22%2334bb9a02%22 d=%22M133.333 533.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 533.333h133.333v133.333H400zM666.667 533.333H800v133.333H666.667zM800 533.333h133.333v133.333H800zM1200 533.333h133.333v133.333H1200zM1600 533.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%2334bb9a4a%22 d=%22M1733.333 533.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 666.667h133.333V800H133.333zM400 666.667h133.333V800H400zM533.333 666.667h133.333V800H533.333zM933.333 666.667h133.333V800H933.333zM1600 666.667h133.333V800H1600zM1866.667 666.667H2000V800h-133.333zM133.333 800h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a6a%22 d=%22M533.333 800h133.333v133.333H533.333z%22%2F%3E%3Cpath fill=%22%2334bb9a57%22 d=%22M800 800h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 800h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%2334bb9a52%22 d=%22M1200 800h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%2334bb9a0b%22 d=%22M1333.333 800h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 800H1600v133.333h-133.333zM1733.333 800h133.333v133.333h-133.333zM1866.667 800H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a4b%22 d=%22M0 933.333h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 933.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a01%22 d=%22M266.667 933.333H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%2334bb9a48%22 d=%22M533.333 933.333h133.333v133.333H533.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 933.333h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%2334bb9a1f%22 d=%22M1200 933.333h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1333.333 933.333h133.333v133.333h-133.333zM1866.667 933.333H2000v133.333h-133.333zM133.333 1066.667h133.333V1200H133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a64%22 d=%22M400 1066.667h133.333V1200H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 1066.667h133.333V1200H533.333zM666.667 1066.667H800V1200H666.667zM933.333 1066.667h133.333V1200H933.333zM1333.333 1066.667h133.333V1200h-133.333zM1466.667 1066.667H1600V1200h-133.333zM1600 1066.667h133.333V1200H1600zM0 1200h133.333v133.333H0zM133.333 1200h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a11%22 d=%22M266.667 1200H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 1200h133.333v133.333H533.333zM1066.667 1200H1200v133.333h-133.333zM1200 1200h133.333v133.333H1200zM1600 1200h133.333v133.333H1600zM1866.667 1200H2000v133.333h-133.333zM133.333 1333.333h133.333v133.333H133.333zM266.667 1333.333H400v133.333H266.667zM400 1333.333h133.333v133.333H400zM533.333 1333.333h133.333v133.333H533.333zM933.333 1333.333h133.333v133.333H933.333zM1200 1333.333h133.333v133.333H1200zM1333.333 1333.333h133.333v133.333h-133.333zM1866.667 1333.333H2000v133.333h-133.333z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  } */
  

/* Hero section */
.hero {
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: repeat;
	background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23e0e0e0%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%2334bb9a75%22 stroke-width=%22.6%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h133.333v133.333H0zM533.333 0h133.333v133.333H533.333zM933.333 0h133.333v133.333H933.333zM1066.667 0H1200v133.333h-133.333zM1200 0h133.333v133.333H1200zM1466.667 0H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a15%22 d=%22M1600 0h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1733.333 0h133.333v133.333h-133.333zM1866.667 0H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a26%22 d=%22M133.333 133.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 133.333h133.333v133.333H400zM933.333 133.333h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%2334bb9a63%22 d=%22M1066.667 133.333H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a30%22 d=%22M1200 133.333h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 133.333H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a2d%22 d=%22M1600 133.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 266.667h133.333V400H0zM133.333 266.667h133.333V400H133.333zM266.667 266.667H400V400H266.667zM400 266.667h133.333V400H400z%22%2F%3E%3Cpath fill=%22%2334bb9a28%22 d=%22M533.333 266.667h133.333V400H533.333z%22%2F%3E%3Cpath fill=%22%2334bb9a60%22 d=%22M933.333 266.667h133.333V400H933.333z%22%2F%3E%3Cpath fill=%22%2334bb9a50%22 d=%22M1066.667 266.667H1200V400h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 266.667h133.333V400H1200zM1466.667 266.667H1600V400h-133.333zM1600 266.667h133.333V400H1600zM1733.333 266.667h133.333V400h-133.333zM1866.667 266.667H2000V400h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a25%22 d=%22M0 400h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 400h133.333v133.333H133.333zM400 400h133.333v133.333H400zM666.667 400H800v133.333H666.667zM800 400h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22%2334bb9a20%22 d=%22M1600 400h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%2334bb9a3d%22 d=%22M1733.333 400h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a60%22 d=%22M1866.667 400H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 533.333h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22%2334bb9a02%22 d=%22M133.333 533.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 533.333h133.333v133.333H400zM666.667 533.333H800v133.333H666.667zM800 533.333h133.333v133.333H800zM1200 533.333h133.333v133.333H1200zM1600 533.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%2334bb9a4a%22 d=%22M1733.333 533.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 666.667h133.333V800H133.333zM400 666.667h133.333V800H400zM533.333 666.667h133.333V800H533.333zM933.333 666.667h133.333V800H933.333zM1600 666.667h133.333V800H1600zM1866.667 666.667H2000V800h-133.333zM133.333 800h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a6a%22 d=%22M533.333 800h133.333v133.333H533.333z%22%2F%3E%3Cpath fill=%22%2334bb9a57%22 d=%22M800 800h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 800h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%2334bb9a52%22 d=%22M1200 800h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%2334bb9a0b%22 d=%22M1333.333 800h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 800H1600v133.333h-133.333zM1733.333 800h133.333v133.333h-133.333zM1866.667 800H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a4b%22 d=%22M0 933.333h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 933.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a01%22 d=%22M266.667 933.333H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%2334bb9a48%22 d=%22M533.333 933.333h133.333v133.333H533.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 933.333h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%2334bb9a1f%22 d=%22M1200 933.333h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1333.333 933.333h133.333v133.333h-133.333zM1866.667 933.333H2000v133.333h-133.333zM133.333 1066.667h133.333V1200H133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a64%22 d=%22M400 1066.667h133.333V1200H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 1066.667h133.333V1200H533.333zM666.667 1066.667H800V1200H666.667zM933.333 1066.667h133.333V1200H933.333zM1333.333 1066.667h133.333V1200h-133.333zM1466.667 1066.667H1600V1200h-133.333zM1600 1066.667h133.333V1200H1600zM0 1200h133.333v133.333H0zM133.333 1200h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%2334bb9a11%22 d=%22M266.667 1200H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 1200h133.333v133.333H533.333zM1066.667 1200H1200v133.333h-133.333zM1200 1200h133.333v133.333H1200zM1600 1200h133.333v133.333H1600zM1866.667 1200H2000v133.333h-133.333zM133.333 1333.333h133.333v133.333H133.333zM266.667 1333.333H400v133.333H266.667zM400 1333.333h133.333v133.333H400zM533.333 1333.333h133.333v133.333H533.333zM933.333 1333.333h133.333v133.333H933.333zM1200 1333.333h133.333v133.333H1200zM1333.333 1333.333h133.333v133.333h-133.333zM1866.667 1333.333H2000v133.333h-133.333z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
	background-attachment: fixed;
	position: relative;
    z-index: 0;
	/* background: linear-gradient(to bottom right, #3a7bd5, #3a6073, orange); */
	color: white;
}

.hero h1 {
	font-family: var(--hero-font);
	font-size: 6rem;
	font-weight: bold;
}

.hero .title-line {
	font-family: var(--hero-font);
	font-size: 2rem;
	font-style: italic;
	margin-bottom: 0.5rem;
}

/* About section */
.description {
	font-family: var(--text-font);
	font-size: 1.1rem;
	text-align: justify;
	line-height: 1.6rem;
	color: var(--text-color);;
}

.skills-title {
	font-size: 1.6rem;
	font-weight: bold;
	margin-top: 2rem;
	color: var(--text-color);;;
}

.about-picture {
	width: 300px;
	height: 400px;
	border-radius: 5%;
	object-fit: cover;
	/* background-color: #fff; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-badge {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
	margin: 0.3rem 0.3rem;
	color: rgb(220, 219, 219) !important;
}

/* Projects section */

.filter-buttons .btn{
	color: var(--text-color) !important;
    border: none !important;
    background-color: transparent !important;
}

/* Active button styling */
.filter-buttons .btn.active {
    background-color: var(--secondary-color) !important; /* Dark background for the active button */
    color: #fff !important;
    font-weight: bold;
}

.project-card {
	height: 23rem;
	display: flex;
    flex-direction: column;
    flex-grow: 1;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
	transition: transform 0.3s ease, background-color 0.3s ease;
	text-align: justify;
	font-family: var(--text-font);
	color: var(--text-color);
}

.project-card:hover {
	color: white;
	background-color: var(--secondary-color);;;
	transform: translateY(-5px);
}

.project-card .card-img-top {
	height: 200px;
	object-fit: cover;
}

.project-card .card-body {
	display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-card .icon-container {
    text-align: right;
    color: grey;
}

.project-card .icon-container i {
    font-size: 1.6rem;
}

.project-card .card-title {
	padding-top: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
    text-align: center;
}

.project-card .card-description {
	font-size: 1.05rem;
	line-height: 1.6rem;
	margin-top: 1rem;
}

.project-card .stack-container {
    margin-top: auto; /* Push to the bottom */
}

/* Display stack-span elements inline and add margin */
.project-card .stack-span {
    display: inline-block;
    color: white !important;
	background-color: rgb(181, 181, 181) !important;
    margin-right: 0.2rem;
    margin-top: 1rem;
    font-size: 1.1rem;
	font-weight: normal;
}

/* Additional styles to remove link underlined effects */
.card-link-no-underline .card-title,
.card-link-no-underline .card-description {
    text-decoration: none;
    color: inherit;
}

.card-link-no-underline ,
.card-link-no-underline:hover .card-title,
.card-link-no-underline:hover .card-description {
    text-decoration: none; /* Ensure underline is removed on hover */
}


/* Contact section */

.contact-info {
	font-family: var(--text-font);
	color: var(--text-color);
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.social-links {
	margin-top: 1.5rem;
}

.social-logo {
	color: var(--secondary-color);
	width: 70px;
	height: 70px;
	font-size: 2em;
	margin-right: 10px;
}

.contact-form .form-group {
	margin-bottom: 20px;
}

.contact-form .button-container {
    text-align: right;
}

.contact-form .btn {
	background-color: grey;
	border: none;
	color: #fff;
}

.contact-form .btn:hover {
	background-color: var(--primary-color);
	color: var(--background-color);
}

#message {
    min-height: 200px;
}