/* Project detail general */
h1 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#carouselProjectImages .carousel-item img {
	object-fit: cover;
	object-position: center;
	height: 50vh;
	overflow: hidden;
  }