:root {
    --logo-font: 'Koulen', sans-serif;
	--hero-font: "Raleway", sans-serif;
	--text-font: "Raleway", sans-serif;
	--text-color: #373E40;
    --primary-color: #ff007f;
    --secondary-color: #049A8F;
	--background-color: #F0F4EF;
}